.carousel {
  height: 280px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 15px 15px;
}

.carousel-inner {
  max-width: 1000px;
  margin: 0 auto;
}
.key-activities {
  text-align: center;
  margin-top: 25px;
  font-size: 36px;
  color: #333;
  font-weight: bold;
}
.card-container {
  max-width: 1000px;
  margin: 25px 125px ; /* Adjusted margin */
  display: flex;
  flex-direction: column; /* Cards will stack vertically */
}

.card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Spacing between cards */
  text-align: right;
}

.card img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;

}
