@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@800&family=Poppins&family=Roboto&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open Sans");

* {
    margin: 0;
    padding: 0;
}

nav {
    transition: 0.5s;
}

.nav-link {
    transition: 0.5s;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
    color: #ffffff;
}

#navbar .iitplogo {
    margin-right: 29px;
}

#navbar .iitplogo a img {
    width: 50px;
}

#navbar .header span {
    font-family: "Avenir-Demi";
    display: inline-block;
    width: auto;
    height: auto;
    color: #f5f4f0;
    line-height: 25px;
    /* padding-right: 60px; */
}

.nav-item-active {
    transition: 0.5s;
}

#navbar .header .heading_english {
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 5px;
}

#navbar .header .heading_hindi {
    color: rgb(158, 234, 255);
    font-size: 18px;
}

#navbar .header-container {
    display: flex;
    width: 40%;
}

#navbar .header-container .iitplogo {
    width: 20%;
    margin: 10px 10px;
    align-items: center;
    justify-content: center;
}

#navbar .iitplogo img {
    width: 100px;
}

.list-container .nav-list li a {
    display: block;
    color: #f5f4f0;
    padding: 1px 20px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.list-container .nav-list li a:hover {
    color: #f5f4f0;
}

/* Mob view */

@media only screen and (min-width: 901px) {
    .navbar-collapse {
        justify-content: flex-end !important;
        gap: 10px;
    }
}

@media only screen and (max-width: 900px) {
    #navbar {
        flex-direction: row;
        width: 100%;
    }

    .para-container {
        width: 100% !important;
        padding-left: 0px !important;
    }

    #navbar ul li a {
        font-size: 0.7rem;
        padding: 0px 7Opx;
        padding-bottom: 8px;
    }

    .header-container {
        display: flex;
        height: 70%;
    }

    #navbar .header-container .iitplogo {
        width: 40%;
        margin: 30px 20px;
        text-align: left;
        justify-content: left;
    }

    #navbar .header-container .iitplogo img {
        width: 60%;
        padding-right: 10px;

    }

    .header-container .header {
        display: flex;
    }

    .header-container .header .heading_english {
        font-size: 1rem;
        padding-bottom: 3px;
    }

    .header-container .header .heading_hindi {
        font-size: 0.9rem;
    }


    .list-container {
        height: 30%;
    }

    .list-container .nav-list {
        justify-content: left;
    }
}

@media only screen and (max-width: 500px) {
    #navbar {
        flex-direction: row;
        width: 100%;
    }

    #navbar ul li a {
        font-size: 0.7rem;
        padding: 0px 7Opx;
        padding-bottom: 8px;
    }

    .header-container {
        display: flex;
    }

    #navbar .header-container .iitplogo {
        width: 40%;
        margin: 0px 0px;
        align-items: center;
        justify-content: center;
    }

    #navbar .header {
        text-align: left;
    }

    #navbar .header .heading_english {
        font-size: 1.3rem;
    }

    #navbar .header-container .iitplogo img {
        width: 60%;
        padding-right: 0px;
    }

    .header {
        width: 60%;
        text-align: center;
        /* margin: 10px 0px; */
    }

    .list-container .nav-list {
        justify-content: left;
    }
}