@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@800&family=Poppins&family=Roboto&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open Sans");

* {
    margin: 0;
    padding: 0;
}

nav {
    transition: 0.5s;
}

.nav-link {
    transition: 0.5s;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
    color: #ffffff;
}

#navbar .iitplogo {
    margin-right: 29px;
}

#navbar .iitplogo a img {
    width: 50px;
}

#navbar .header span {
    font-family: "Avenir-Demi";
    display: inline-block;
    width: auto;
    height: auto;
    color: #f5f4f0;
    line-height: 25px;
    /* padding-right: 60px; */
}

.nav-item-active {
    transition: 0.5s;
}

#navbar .header .heading_english {
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 5px;
}

#navbar .header .heading_hindi {
    color: rgb(158, 234, 255);
    font-size: 18px;
}

#navbar .header-container {
    display: flex;
    width: 40%;
}

#navbar .header-container .iitplogo {
    width: 20%;
    margin: 10px 10px;
    align-items: center;
    justify-content: center;
}

#navbar .iitplogo img {
    width: 100px;
}

.list-container .nav-list li a {
    display: block;
    color: #f5f4f0;
    padding: 1px 20px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.list-container .nav-list li a:hover {
    color: #f5f4f0;
}

/* Home Page Starts */

.carousel {
    height: 280px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 15px 15px;
}

.carousel-inner {
    max-width: 1000px;
    margin: 0 auto;
}
.carousel-item img {
    width: 100%;
    max-height: 280px;
    margin: auto;
    
  }
.key-activities {
    text-align: center;
    margin-top: 25px;
    font-size: 36px;
    color: #333;
    font-weight: bold;
}

.card-container {

    max-width: 1000px;
    margin: 25px 125px;
    /* Adjusted margin */
    display: flex;
    flex-direction: column;
    /* Cards will stack vertically */
}

.card {
    background-color: #f9f9f9;
    height: 180px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    /* Spacing between cards */
    text-align: left;
    background: linear-gradient(to right, #f5bbae, #fbfbfa, #b9f8be);
}

.card img {
    max-height: 100%;
    width: auto;
    position: absolute;
    top: 0;
    right: 0;

}


/* Footer starts  */

/* Footer area */

.footer-area {
    display: flex;
    background-color: #0261a8;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 0px 50px;
    margin-top: 60px;
}

.footer-area .footer-center {
    display: flex;
    vertical-align: top;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
    padding-bottom: 10px;
    font-family: "inter";
    padding-right: 40px;
    font-size: 1.5rem;
}

.footer-left {
    display: block;
    width: 36%;
    align-items: center;
}

.footer-middle {
    width: 36%;
    display: block;
    align-items: center;
    padding-right: 20px;
}

.footer-center-contact {
    display: block;
}

.footer-center-contact p {
    font-size: 0.9rem;
    color: #b3b9c0;
    text-align: justify;
}

.footer-area .footer-center ul {
    list-style-type: none;
    padding-right: 90px;
    line-height: 20px;
}

.footer-area .footer-center ul li {
    list-style-type: none;
    padding: 3px 0px;
    font-size: 0.9rem;
    margin-left: 10px;
    text-decoration: none;
}

.footer-area .footer-center ul li a:hover {
    color: #ffffff;
}

.footer-area .footer-center a {
    font-family: "roboto";
    font-size: 0.8rem;
    /* color: rgb(158, 234, 255); */
    color: #b3b9c0;
    text-decoration: none;
}

.footer-area .footer-right {
    justify-content: end;
    align-items: end;
    display: block;
    align-content: right;
}

.footer-area .icon {
    color: #ffffff;
}

.footer-area .icon i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 50px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-area .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 1.4rem;
    font-family: "inter";
    margin-bottom: 20px;
    align-self: right;
}

.footer-area .footer-icons {
    margin-top: 25px;
}

.footer-area .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    padding: 7px;
    margin-right: 6px;
}

.text-center {
    margin-top: 450px;
}

.text-white {
    color: #f5f4f0;
}

/* Mob view */

@media only screen and (min-width: 901px) {
    .navbar-collapse {
        justify-content: flex-end !important;
        gap: 10px;
    }
}

@media only screen and (max-width: 900px) {
    #navbar {
        flex-direction: row;
        width: 100%;
    }

    .para-container {
        width: 100% !important;
        padding-left: 0px !important;
    }

    #navbar ul li a {
        font-size: 0.7rem;
        padding: 0px 7Opx;
        padding-bottom: 8px;
    }

    .header-container {
        display: flex;
        height: 70%;
    }

    #navbar .header-container .iitplogo {
        width: 40%;
        margin: 30px 20px;
        text-align: left;
        justify-content: left;
    }

    #navbar .header-container .iitplogo img {
        width: 60%;
        padding-right: 10px;

    }

    .header-container .header {
        display: flex;
    }

    .header-container .header .heading_english {
        font-size: 1rem;
        padding-bottom: 3px;
    }

    .header-container .header .heading_hindi {
        font-size: 0.9rem;
    }

    .list-container {
        height: 30%;
    }

    .list-container .nav-list {
        justify-content: left;
    }

    .footer-area {
        display: block;
        width: 100%;
        text-align: left;
        font: bold 14px sans-serif;
        padding: 20px 0px 0px 20px;
        margin-top: 50px;
    }

    .footer-area .footer-center {
        display: block;
        width: 100%;
        padding: 10px;
        padding-right: 10px;
        padding-bottom: 30px;
    }

    .footer-area .footer-center p {
        margin: 0;
        padding-bottom: 10px;
        font-size: 1.4rem;
        font-family: "inter";
    }

    .footer-area .footer-center ul li {
        font-size: 0.7rem;
    }

    .footer-left {
        padding-bottom: 20px;
    }

    .left-footer-divide {
        display: flex;
        width: 100%;
    }

    .footer-middle {
        display: block;
        text-align: left;
        width: 100%;
        padding-bottom: 20px;
    }

    .footer-middle .footer-center-contact p {
        font-size: 1rem;
    }

    .footer-right {
        display: block;
    }

    .footer-area .footer-right .footer-company-about span {
        font-size: 1.5rem;
        font-family: "inter";
    }

    .text-white {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 500px) {
    #navbar {
        flex-direction: row;
        width: 100%;
    }

    #navbar ul li a {
        font-size: 0.7rem;
        padding: 0px 7Opx;
        padding-bottom: 8px;
    }

    .header-container {
        display: flex;
    }

    #navbar .header-container .iitplogo {
        width: 40%;
        margin: 0px 0px;
        align-items: center;
        justify-content: center;
    }

    #navbar .header {
        text-align: left;
    }

    #navbar .header .heading_english {
        font-size: 1.3rem;
    }

    #navbar .header-container .iitplogo img {
        width: 60%;
        padding-right: 0px;
    }

    .header {
        width: 60%;
        text-align: center;
        /* margin: 10px 0px; */
    }

    .list-container .nav-list {
        justify-content: left;
    }

    .footer-area {
        display: block;
        width: 100%;
        text-align: left;
        font: bold 14px sans-serif;
        padding: 20px 0px 0px 20px;
        margin-top: 60px;
    }

    .footer-area .footer-center {
        display: block;
        width: 100%;
        padding: 10px;
        padding-bottom: 30px;
    }

    .footer-area .footer-center p {
        margin: 0;
        padding-bottom: 10px;
        font-size: 1.3rem;
        font-family: "inter";
        width: 100%;
    }

    .footer-area .footer-center ul li {
        font-size: 0.7rem;
    }

    .footer-area .footer-right .footer-company-about span {
        font-family: "inter";
        font-size: 1.3rem;
    }

    .text-white {
        font-size: 1rem;
    }
}
